# application-service
PORT=8003
MONGODB_URI=mongodb://localhost:27017
MONGO_DB=portal_applications
INTERNAL_API_TOKEN=CHANGE_ME_random_internal_token
AUTH_SERVICE_URL=http://localhost:8001
JOB_SERVICE_URL=http://localhost:8002
RESUME_SERVICE_URL=http://localhost:8004
AI_SERVICE_URL=http://localhost:8006
